@import "../../styles/globalStyles.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 112px 64px;
  background-color: white;
}
.header {
  font-family: Montserrat-Semibold;
  font-size: 34px;
  line-height: 32px;
  color: #111111;
}
.question {

}
.theme {

}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input {
  margin-bottom: 42px;
}
.button {
  background: $uiMinGreen;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 16px;
  height: 48px;
  width: 380px;
  color: $white;
  min-height: 48px;

  &:active {
    background-color: lighten($uiMinGreen, 5%);
  }
}