.history {
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        width: calc(100% - 60px);
        height: 100%;
    }

    .table{
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 7px;
        border: 1px solid #D2D8E2;
    }
}
