.history {
    font-family: "Montserrat-Regular";
    padding-top: 64px;

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
            margin-bottom: 69px;
        }
    }

    .noticeLink{
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #d2d8e2;
        padding: 8px 16px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5A7494;

        span{
            font-size: 13px;
            color: #Fff;
            background-color: #00BD93;
            border-radius: 50%;
            min-width: 20px;
            min-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
        }
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        width: calc(100% - 60px);
        height: 100%;
    }

    .datepicker{
        .react-daterange-picker__inputGroup,
        .react-daterange-picker__range-divider{
            display: none !important;
        }
    }

    .table {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 7px;
        border: 1px solid #d2d8e2;
        box-sizing: border-box;
        overflow: scroll;
        max-height: 610px;

        .row:first-child {
            background-color: #f2f5f9;
            color: #2d2f33;
            font-size: 16px;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 480px 1fr 100px 1fr;
            grid-column-gap: 30px;
            padding: 20px 50px;
            border: 1px solid #d2d8e2;
            border-top: none;
            color: #5a7494;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: #f2f5f9;

                .question {
                    span {
                        &::before {
                            background: linear-gradient(270deg, #f2f5f9 50%, rgba(255, 255, 255, 0) 108.33%);
                        }
                    }
                }
            }

            div{
                display: flex;
                align-items: center;
            }

            b {
                color: #2d2f33;
                font-size: 16px;
                margin-right: 5px;
            }

            .question {
                position: relative;

                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    max-width: 480px;
                    transition: 0.02s linear;
                    display: block;

                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 50px;
                        background: linear-gradient(270deg, #ffffff 50%, rgba(255, 255, 255, 0) 108.33%);
                    }
                }

                .tooltip {
                    opacity: 0;
                    transition: 0.2s linear;
                    pointer-events: none;
                    width: 360px;
                    background-color: #383838;
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 6px;
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    left: 0;

                    &::after {
                        width: 8px;
                        height: 8px;
                        content: "";
                        position: absolute;
                        top: -4px;
                        left: calc(50% - 4px);
                        transform: rotateZ(45deg);
                        background-color: #383838;
                    }
                }

                &:hover {
                    .tooltip {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            .status {
                border-radius: 50px;
                border: 1px solid #d2d8e2;
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 12px;
            }
            .likes {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.title {
    font-family: Montserrat-Semibold;
    font-size: 34px;
    line-height: 42px;
}
.subtitle {
    font-family: Montserrat-Regular;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #111111;
}
